#Log files
*.log
*.csv

#Python cache files
*.pyc
__pycache__

#CMake cachefiles
build

# For  Macintosh
*.DS_Store
*._*

#For Visual Studio Code
*.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
